<MudDialog>
    <DialogContent>
        @if (_isScanning)
        {
            <div class="d-flex flex-column align-center justify-center py-8">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                <MudText Class="mt-4">@L["AddDevice_Scanning", _ipAddress]</MudText>
            </div>
        }
        else
        {
            <MudForm @bind-IsValid="@success">
                <MudTextField @bind-Value="_ipAddress" Label="@L["Devices_Table_IpAddress"]" Required="true" RequiredError="@L["AddDevice_IpRequired"]" Validation="@(new Func<string, Task<string?>>(ValidateIp))" Immediate="true" />
                <MudSelect @bind-Value="model.Type" Label="@L["Devices_Table_Type"]">
                    @foreach (DeviceType type in Enum.GetValues(typeof(DeviceType)))
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudForm>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Disabled="_isScanning">@L["Common_Cancel"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Disabled="@(!success || _isScanning)">@L["AddDevice_ScanAndAdd"]</MudButton>
    </DialogActions>
</MudDialog>